<div class="container">
    <div class="content-first">
      <h1> <span appHover1>About The Company</span></h1>
      <p style="font-family: 'Times New Roman';font-size: 18px;">
        Welcome to <b style="color: gold;">Apna College</b>, your trusted partner in software coaching and development. 
        Our mission is to empower individuals and organizations with the skills and knowledge needed to excel in the ever-evolving world of technology.
       <br> We offer one-on-one coaching tailored to your specific needs, helping you master new technologies, improve coding skills, and navigate your career path in the tech industry
        Our corporate training programs are designed to upskill teams, enhance productivity, and foster a culture of continuous learning within your organization.
      <br>  Participate in our intensive workshops and bootcamps to gain hands-on experience and practical knowledge in various programming languages, frameworks, and tools.
      <br>  Our consulting services provide expert advice on software development strategies, project management, and technology implementation to help you achieve your business goals.
      </p>
    </div>
    
    <div class="image-grid">
      <div class="image-item">
        <img src="../../assets/img/cau2.jpg" alt="Image 1">
      </div>
      <div class="image-item">
        <img src="../../assets/img/cau6.jpg" alt="Image 2">
      </div>
      <div class="image-item">
        <img src="../../assets/img/sha1.jpg" alt="Image 3">
      </div>
      <div class="image-item">
        <img src="../../assets/img/sha2.jpg" alt="Image 4">
      </div>
    </div>
    
    <div class="content-later">
      
      <p style="font-family: 'Times New Roman';font-size: 18px;"> 
        We have successfully guided numerous individuals through career transitions, from junior developers to senior software engineers, by providing personalized coaching and mentorship.
        Through our consulting services, we have assisted businesses in implementing cutting-edge technologies and improving their software development processes, resulting in successful project outcomes and competitive advantages.
<br>
        Around <b style="color: green;">98% of students are placed</b> . The highest salary package
        offered is around <b style="color:blueviolet;">40 LPA by Microsoft</b> ,<b> the lowest is around 3 LPA</b>,<b style="color: goldenrod;">and the average is 7 LPA</b> .
     
      It provides training to individuals to build end-to-end 
        web applications and prepare for interviews. The courses cover topics such as 
        data structures and algorithms, 
        hashing, bit manipulation, and dynamic programming.
    </p>
    </div>
  </div>
  