
  <div class="about">
   <div class="about-us-container">
    <div class="text-overlay">
      <h1 style="color: aliceblue;" ><span appHover1>About us</span></h1>
      <p>The team of My Apna College Website has over 18 years of experience in web design and web development.</p>
      <p>We're based in India, Netherlands. Combined, we've created over 500 websites.</p>
      <p>We've seen so many websites - we dream about them.</p>
  </div>
  </div>
  <br>
 <div class="aboutme">
<app-aboutme></app-aboutme>
 </div>
  <br>
  <div class="aboutcompany">
    <app-aboutcompany></app-aboutcompany>
  </div>

</div>