/* Base Styles */
.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; /* Allows wrapping of items if there's not enough space */
    align-items: flex-start;
    justify-content: center;
    /* padding: 2vw; Responsive padding */
    overflow: hidden;
    overflow-y: hidden;
  }
  
  .image-section {
    flex: 1 1 30%; /* Grow, shrink, and basis (flex-basis) */
    text-align: center;
    /* margin: 1vw; */
  }
  
  .image-section img {
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .image-section h3 {
    margin: 0.5em 0;
  }
  
  .title {
    font-size: 1.2em; /* Responsive font size */
  }
  
  .content-section {
    flex: 2 1 60%; /* Grow, shrink, and basis (flex-basis) */
    /* padding: 1vw; */
  }
  
  .content-section h1 {
    font-size: 2em; /* Responsive font size */
    /* margin-bottom: 0.5em; */
  }
  
  .content-section p {
    font-size: 1em; /* Responsive font size */
    line-height: 1.6;
  }
  
  /* Ensures content adjusts based on viewport width */
  html {
    font-size: 100%; /* Base font size */
  }
  