<div class="container">
    <div class="image-section">
      <img src="../../assets/img/shardha.webp" alt="Description of image" class="rounded-circle">
      <h3 style="color: purple;">Shardha </h3>
      <pre style="font-size: 18px;">Co-Founder Of Apna College </pre>
    </div>
    <div class="content-section">
      <h1><span appHover1>About Me</span></h1>
      <p style="font-family: 'Times New Roman'; font-size: 19px;">Hey there stranger, welcome! My name is Shardha, and I'm the Co-founder of Apna College Website.
<br><br>
        10 years ago I built my first website, it was a website for a startup I was excited about. 10 years later, that startup is dead. 
        But I did get something out of it - a true passion for web design. 
        <br><br>
        In the years that passed, I got asked by many friends and family to help them with their website. And guess what, a few months later I got approached by more and more people. 
        I was making a living as a freelance web designer in the upcoming years. And it was great!
<br><br>
        I've made hundreds of websites throughout these years, honestly, I lost track at some point.
      
      </p>
    </div>
  </div>