<div class="star-ratings">
    <i class="fa" [class.fa-star]="star[0]" [class.fa-star-o]="!star[0]" (click)="onStarClick(1)"></i>

    <i class="fa" [class.fa-star]="star[1]" [class.fa-star-o]="!star[1]" (click)="onStarClick(2)"></i>

    <i class="fa" [class.fa-star]="star[2]" [class.fa-star-o]="!star[2]" (click)="onStarClick(3)"></i>

    <i class="fa" [class.fa-star]="star[3]" [class.fa-star-o]="!star[3]" (click)="onStarClick(4)"></i>

    <i class="fa" [class.fa-star]="star[4]" [class.fa-star-o]="!star[4]" (click)="onStarClick(5)"></i>
</div>