
.container-fluid {
    width:100%;
    margin: 0;
    padding: 0; 
   
    
    border-radius: 8px;
    background: url('/assets/img/sign2.jpeg') ;
    background-size: cover;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    
  /* animation: gradient 15s ease infinite;  */
  }

 
  
  
  form {
    width: 90%; 
    max-width: 400px; 
    background-color: aliceblue;
    border: 1px solid #ddd;
    border-radius: 8px;
    /* padding: 5%;  */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    background: url('/assets/img/sign2.jpg')
  }
  
 
  legend {
    font-size: 1.5em;
    /* margin-bottom: 1em;  */
    text-align: center;
    color: #007bff;
  }
  
  .form-group {
    margin-bottom: 1em; 
  }
  
 
  .form-control {
    width: 100%; 
    /* padding: 10px; */
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  .alert {
    font-size: 0.875em;
    color: #a94442;
    background-color: #f2dede;
    border: 1px solid #ebccd1;
    border-radius: 4px;
    /* padding: 10px;
    margin-top: 5px; */
  }
  
  /* Button styling */
  .btn-primary {
    background-color: hsl(211, 100%, 50%);
    border: none;
    color: white;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
    display: block;
    width: 100%; 
    box-sizing: border-box;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
  }
  
  label{
    color: white;
  }

i{
  color: darkorange;
  margin-left: 10px;
  font-size: 20px;
  cursor: pointer;
  transition: color 0.3s;
  transform: scale(1.2);


}







 