<div class="about-us-container">
  <div class="text-overlay">
    <h1 appHover>Our Website and Development Projects
    </h1>
    <p >
      Our website and development projects offer hands-on learning experiences that teach students how to create and manage web applications. 
    <br>  Through practical exercises and real-world examples, students gain valuable skills in coding, 
      design, and problem-solving. 
     <br> Each project is designed to build their technical expertise and confidence, preparing them for
       successful careers in the tech industry..</p>
</div>
</div>



<div class="team-wrapper">
    <app-cardteam></app-cardteam>
  </div>
  

  <div class="container">
    <div class="content">
        <h1 appHover>"Comprehensive Software Coaching Team Overview"</h1>
        <p>
            The success of a software coaching program hinges on a well-rounded team of professionals, 
            each bringing specialized expertise to the table. <br>
            This team typically includes a Lead Coach who sets strategic goals and ensures 
            alignment with organizational objectives. <br>
            Technical Coaches focus on specific technologies and tools, providing hands-on support to 
            developers. Agile Coaches guide teams in adopting and refining Agile practices, fostering a 
            culture of continuous improvement. <br> 
            Soft Skills Coaches enhance interpersonal skills, while Career Coaches assist with professional 
            development and career planning. Mentors offer personalized guidance based on their own experiences, 
            and Facilitators organize effective workshops and training sessions. <br>
            Evaluators measure the impact of the coaching program and suggest improvements. Together, 
            this diverse crew works collaboratively to support both individual and team growth, driving 
            overall success and innovation in software development.
        </p>
    </div>
</div>