

<div class="background-image">
    <div class="text-overlay">
      <p >"Our mission is to empower individuals and teams with expert software coaching,
        <br> fostering growth and innovation. </p>
  </div>
</div>

<div class="container">
    <div class="text-content">
      <h3>Who We Are</h3>
      <h3 class="highlight" style="color: purple;">Top 1% Software Developer</h3>
      <p>
        Apna College is better for students targeting placements.<br>
        They have launched 3 very successful batches of Alpha - their 
        placement batch in Java + DSA and have great placement statistics.
      </p>
    </div>
    <div class="image-content">
      <img src="../../assets/img/cau2.jpg" alt="Apna College">
    </div>
  </div>

  <div class="container">
    <div class="text-content">
        <h3>What  We Do</h3>
        <p>
            We provide expert guidance and training tailored to enhance your programming skills and prepare you for successful careers in software development.<br>
            Our comprehensive coaching includes hands-on projects, industry-relevant skills, and personalized mentorship to help you excel in competitive job markets and achieve your career goals.
        </p>
        
    </div>
    <div class="image-content">
      <img src="../../assets/img/about.jpg" alt="Apna College">
  </div>
  </div>

  
  <div class="home1">
<app-home1></app-home1>
  </div>